auto-install-peers = true

# registry= "https://nexus3.histron.cn/repository/npm-group/"

registry=https://registry.npmmirror.com

@hc:registry=https://nexus3.histron.cn/repository/npm-group/
@haichuang:registry=https://nexus3.histron.cn/repository/npm-group/
@ml:registry=https://nexus3.histron.cn/repository/npm-group/